<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="jp.ex_t.kazuaki.change_vision.ping.actionSet">
         <menu
               id="ping"
               label="%menu_group"
               path="tool/ping">
         </menu>
         <action
                 label="%menu_label_client"
                 icon="icons/sample.gif"
                 class="jp.ex_t.kazuaki.change_vision.TemplateAction"
                 tooltip="%menu_tooltip"
                 menubarPath="tool/ping/"
                 id="ping">
         </action>
         <action
                 label="%menu_label_server"
                 icon="icons/sample.gif"
                 class="jp.ex_t.kazuaki.change_vision.ServerAction"
                 tooltip="%menu_tooltip"
                 menubarPath="tool/ping/"
                 id="ping">
         </action>
     </actionSet>
   </extension>
</plugin>
